<div class="note-container main-element">
  <div class="header">
    <div class="heading">
      <h1>Note #{{note.id}}</h1>
    </div>
    <div class="action-buttons">
      <button #saveButton id="save-button" pButton type="button" label="Save" (click)="saveNote($event)"></button>
      <button #deleteButton id="delete-button" pButton type="button" label="Delete" (click)="deleteNote($event)"></button>
    </div>
  </div>

  <div id="note-text-container" class="ui-inputgroup">
    <textarea id="note-text" [(ngModel)]="note.note" placeholder="Type your notes here" pInputTextarea></textarea>
  </div>

  <div class="back-container">
    <a [routerLink]="[ '/dashboard']">Go Back</a>
  </div>
  <p-toast></p-toast>
</div>
